<mat-toolbar color="primary">
  <a routerLink="" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>home</mat-icon>
  </a>

  <div fxFlex="stretch"></div>

  <a routerLink="/lazy-1" mat-button routerLinkActive="active">
    <span>First lazy route</span>
  </a>

  <a routerLink="/lazy-2" mat-button routerLinkActive="active">
    <span>Second lazy route</span>
  </a>

  <a routerLink="/card" mat-button routerLinkActive="active">
    <span>Card</span>
  </a>

  <div fxFlex="stretch"></div>

  <a mat-button href="https://github.com/rt-gavrilov/test-job-3" target="_blank"
     fxFlexAlign="stretch" fxLayoutAlign="center center">
    <img src="assets/github.logo.png" class="github-logo">
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
